h1 {
  color: red; // Makes all h1 titles red
}
.completed {
  text-decoration: line-through; // Adds line through completed todos
  color: gray; // Makes completed todos gray
}
.not {
  text-decoration: underline; // Underlines incomplete todos
}
